@import '_vars';

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

*, html {
    margin: 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.cool-border {
    background-color: $bg;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $light-gray;
        mix-blend-mode: soft-light;
    }
}

.all-caps {
    text-transform: uppercase;
}

p {
    line-height: 1.75em;
    color: $gray;
    font-weight: 500;
    font-size: 14px;
}

::-moz-selection {
    color: white;
    background: $teal;
}
  
::selection {
    color: white;
    background: $teal;
}

.cool-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    // margin-left: $text-margin;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        width: 40px;
        background-color: #dddddd;
    }
}
