@import '_vars';

@import '_mixins';


.creative-design {
    background-color: $bg;
    position: relative;
    .glider-contain {
        width: 90%;
        margin: 0 auto;
        .glider {
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;
        }
        .glider-control {
            color: $teal;
        }
        .glider-control.disabled {
            cursor: not-allowed;
        }
    }
    .glider-slide.active.center.visible {
        .right {
            .background {
                transform: scale(2.5);
                opacity: 0.05;
            }
            .ship {
                transform: scale(1.6);
                opacity: 1;
            }
        }
        .left {
            opacity: 1;
            transform: scale(1);
        }
    }
    .glider-slide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 60px 0;
        .left {
            text-align: right;
            font-size: 40px;
            line-height: 0.85em;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0 4rem;
            margin: 1rem;
            opacity: 0;
            transform: scale(0.9);
            @include transition(opacity transform, 2s);
            .text {
                margin-bottom: auto;
                .year {
                    color: $teal;
                    font-weight: 600;
                }
                .adj {
                    color: white;
                    font-weight: 200;
                }
                .design {
                    color: white;
                    font-weight: 600;
                }
            }
            button {
                background-color: transparent;
                color: $teal;
                border: 2px solid $teal;
                padding: 0.5rem 1.5rem;
                border-radius: 50px;
                align-self: flex-end;
                justify-self: flex-end;
                @include transition(all);
                cursor: pointer;
                &:hover {
                    color: white;
                    background-color: $teal;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                height: 80%;
                transform: translateY(-50%);
                width: 3px;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        .right {
            margin: auto auto 0 auto;
            position: relative;
            overflow: visible;
            .background {
                position: absolute;
                bottom: 0;
                filter: saturate(0);
                opacity: 0;
                @include transition(opacity transform, 2s);
            }
            .ship {
                filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.5));
                opacity: 0;
                @include transition(opacity transform, 2s);
            }
        }
    }
    .slide {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 20%;
        background-color: white;
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
}

.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .icon {
            svg {
                transform: scale(0.5);
                path {
                    fill: $teal;
                }
            }
        }
        .title {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 1rem;
            transition: color 0.35s ease;
            &:hover {
                color: $teal;
            }
        }
        .seperator {
            width: 50px;
            height: 5px;
            background-color: #dddddd;
            margin-bottom: 1rem;
        }
    }
}

.our_services {
    .services {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .service {
            background-color: transparent;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            border: 1px dashed #dddddd;
            padding: 4rem 1rem;
            @include transition(all);
            .details {
                @include transition(color);
            }
            .icon {
                width: 50px;
                svg {
                    path {
                        fill: black;
                        @include transition(fill);
                    }
                }
            }
            .title {
                font-size: 18px;
                font-weight: 600;
            }
            &:hover {
                color: white;
                background-color: $teal;
                border-color: transparent;
                .details {
                    color: white;
                }
                .icon svg path {
                    fill: white;
                }
                ::selection {
                    background-color: white;
                    color: $teal;
                }
                ::-moz-selection {
                    background-color: white;
                    color: $teal;
                }
            }
        }
    }
}

.our_skills {
    margin: 60px auto;
    .skills {
        margin: $thin-margin;
        .title {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            margin: 14px 0;
        }
    }
}

.ratings {
    background-color: $bg;
    margin: 60px auto;
    .glider-contain {
        width: 90%;
        margin: 0 auto;
        .glider {
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;
            .rating {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 60px;
                .rater {
                    .picture {
                        clip-path: polygon(
                            25% 0,
                            75% 0,
                            100% 50%,
                            75% 100%,
                            25% 100%,
                            0 50%
                        );
                        margin: 1rem auto;
                    }
                    .name {
                        color: white;
                        font-size: 18px;
                        font-weight: 600;
                        margin: 0.5rem auto;
                    }
                    .position {
                        font-size: 12px;
                        color: $gray;
                        line-height: 1.45em;
                    }
                    .star-icon {
                        margin: 1rem auto;
                    }
                }
                .quotation-mark {
                    font-size: 60px;
                    color: $teal;
                    font-family: Arial;
                }
            }
        }
        .glider-control {
            color: $teal;
        }
        .glider-control.disabled {
            cursor: not-allowed;
        }
    }
}

.call-to-action {
    .container {
        margin: 60px auto;
    }
    text-align: center;
    background-color: $bg;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
        color: white;
        font-weight: 600;
        font-size: 18px;
        line-height: 2em;
        .teal {
            color: $teal;
        }
    }
    .buy {
        margin: 1rem 0;
        background-color: transparent;
        color: $teal;
        border: 2px solid $teal;
        border-radius: 50px;
        padding: 1rem 2rem;
        cursor: pointer;
        @include transition(all);
        &:hover {
            color: white;
            background-color: $teal;
        }
    }
}

.blog {
    .glider-contain {
        width: 90%;
        margin: 0 auto;
        .glider {
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;
        }
        .glider-control {
            color: $teal;
        }
        .glider-control.disabled {
            cursor: not-allowed;
        }
    }
    .post {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 300px;
        margin: 0 1rem;
        .image {
            margin-bottom: $thin-margin;
        }
        .date {
            font-size: 14px;
            color: $gray;
            font-weight: 400;
        }
        .title {
            font-size: 18px;
            line-height: 1.7em;
            font-weight: 600;
        }
    }
}

.header {
    .navbar {
        @include active-link("index");
    }
}