@import '_mixins';

hr {
    color: rgba(0, 0, 0, 0.3);
}

.standards {
    margin: 60px auto;
    .title {
        margin-bottom: 2rem;
    }
}

.header {
    .navbar {
        @include active-link("our-team");
    }
}