@import '_vars';
@import '_mixins';

.page-header {
    position: relative;
    padding: 60px 0;
    @include snowy-background();
    .title {
        text-align: center;
        color: #0d1422;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 20px 0;
    }
}