footer.footer
    .newsletter
        .title
            h2 NEWSLETTER
        .input
            input.email(type="email", name="email", placeholder="Enter your email", autocomplete="no")
        .subscribe
            .btn SUBSCRIBE
    .info 
        .descrition 
            img.logo(src="../resources/logo.png", alt="logo")
            p.description It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            .social-icons 
                a.social-icon
                    img(src="../resources/twitter.svg", alt="twitter")
                a.social-icon
                    img(src="../resources/rss.svg", alt="rss")
                a.social-icon
                    img(src="../resources/instagram.svg", alt="instagram")
                a.social-icon
                    img(src="../resources/facebook.svg", alt="facebook")
        .helpful-links.some-links 
            h2.title HELPFUL LINKS
            a.link(href="#") About Us
            a.link(href="#") FAQ 1
            a.link(href="#") Career
            a.link(href="#") Latest News 
            a.link(href="#") Phones
        .support.some-links 
            h2.title SUPPORT
            a.link(href="#") About Me
            a.link(href="#") Contact Us
            a.link(href="#") Our Team
            a.link(href="#") Packages 
            a.link(href="#") Testimonial
        .contact-us
            h2.title CONTACT US
            p.address 🗺 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .phone-number 📞 +0123456789 - +098765433211
            .email ✉️ username@example.com