footer.footer
    .cool-border
        .newsletter.container
            .title
                h2 NEWSLETTER
            .input
                input.email(type="email", name="email", placeholder="Enter your email", autocomplete="no")
            .subscribe
                .btn SUBSCRIBE
    .cool-border
        .info.container
            .description 
                img.logo(src="../resources/logo.png", alt="logo")
                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                .social-icons 
                    a(href="#").social-icon
                        i.fab.fa-twitter
                    a(href="#").social-icon
                        i.fas.fa-rss
                    a(href="#").social-icon
                        i.fab.fa-instagram
                    a(href="#").social-icon
                        i.fab.fa-facebook-f
            .helpful-links.some-links 
                h2.title HELPFUL LINKS
                a.link(href="#") About Us
                a.link(href="#") FAQ 1
                a.link(href="#") Career
                a.link(href="#") Latest News 
                a.link(href="#") Phones
            .support.some-links 
                h2.title SUPPORT
                a.link(href="#") About Me
                a.link(href="#") Contact Us
                a.link(href="#") Our Team
                a.link(href="#") Packages 
                a.link(href="#") Testimonial
            .contact-us
                h2.title CONTACT US
                p.address 
                    i.fas.fa-map-marker-alt
                    |  34 Lorem amet st. Consectetur, Country
                .phone-number
                    i.fas.fa-phone-alt    
                    |  +0123456789 - +098765433211
                .email
                    i.fas.fa-envelope
                    |  username@example.com
    .container.copyrights
        .text 
            | Copyright <span id="year"></span> 
            a(href="#") Litmus
            |  All rights Resrved.
            script. 
                let d = new Date();
                document.querySelector("#year").textContent = d.getFullYear();
        .links 
            a.link(href="#") Services
            a.link(href="#") Support
            a.link(href="#") How to Pay?
