nav.header.container
    img.logo(class="col-5 col-sm-6 col-md-6 col-lg-6 col-xl-2", src="../../resources/logo.png", alt="logo")
    ul.navbar(class="d-none d-xl-block col-md-8")
        li
            a.active-link(href="#") HOME
        li
            a(href="#") ABOUT
        li
            a(href="#") PORTFOLIO
        li
            a(href="#") PAGES
        li
            a(href="#") SERVICE
        li
            a(href="#") CONTACTS
    .icons
        img.search(src="../resources/search.svg", alt="search icon")
        img.login(src="../resources/user.svg", alt="log-in")
        img.menu(src="../resources/menu.svg", alt="menu")