.cool-border
    .container
        nav.header
            img.logo(src="../assets/logo.png", alt="logo")
            ul.navbar.all-caps
                li
                    a.index(href="index.html") HOME
                li
                    a.about(href="about.html") ABOUT
                li
                    a.portfolio(href="portfolio.html") PORTFOLIO
                li
                    a.our-team(href="our-team.html") OUR TEAM
                li
                    a(href="#") SERVICE
                li
                    a(href="#") CONTACTS
            .icons
                img.search(src="assets/search.svg", alt="search icon")
                img.login(src="assets/user.svg", alt="log-in")
                img.menu(src="assets/menu.svg", alt="menu")