extends layouts/default.pug

block head 
    title Litmus | About
    link(rel="stylesheet", href="glider.min.css")
    script(src="js/glider.min.js")
    script(src="js/our-team.js")

block content 
    +page_header("About Us")
    .introduction.container
        .image 
        .details
            .welcome.all-caps Welcome to Litmus 
            h2.section-header We work to provide great web solutions in all digital areas.
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .section
        .accordion 
            each number in [1, 2, 3]
                .accordion-item
                    button.toggle-accordion(data-target=".accordion-content#item-"+number)= "Accordion Item #" + number
                    .accordion-content(id="item-"+number)
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt cum blanditiis consequuntur sapiente ratione iste tempora voluptatibus recusandae, enim, reprehenderit aspernatur architecto iure esse quos fugiat molestias culpa dignissimos suscipit?
        script(src="../js/accordion.js")
        +skills()
    +our_team()